@import "./base";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #124265;
}

body{
  background-color: white !important;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap{
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: $space*5 0;
}

.wrap-md{
  @extend .wrap;
  padding: $space*2 0;
}

.basic-layout__content{
  padding-top: $space * 2;
}