@import "./base";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #124265;
}

body{
  background-color: white !important;
  overflow-x: hidden;
}

.card-sm{
  border-radius: 5px;
  padding: $space !important;
  background-color: white;
  box-shadow: 0 0 29px 0 rgb(18 66 101 / 8%);
  transition: all 0.3s ease-in-out;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap{
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: $space*5 0;
}

.wrap-md{
  @extend .wrap;
  padding: $space*2 0 !important;
}

.basic-layout__title{
  padding-bottom: $space * 2;
}

.bg-white{
  background-color: white;
}

.app__content{
  padding-top: 66px !important;
}

.flex__item{
  margin-right: $space !important;
  margin-bottom: $space;
}

.flex__item :last-child(1){
  margin-right: 0;
}

.flex__item{
  max-width: 300px;
}

.router-link-exact-active{
  color: #2487ce !important;
}