<!doctype html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Add an ad</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                ADD AN ADVERTISEMENT
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="form-control-label">TITLE</label>
                            <input type="text" name="title" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">IMAGE</label>
                                <input class="form-control" type="file" id="formFile" name="photo" accept="image/*">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">DESCRIPTION</label>
                            <textarea name="description" class="form-control" ></textarea>
                        </div>

                        <div class="w-100  loginbttm">
                            <div class="w-100 login-btm login-text">
                                <div th:if="${param.error}" class="w-100">
                                    Invalid values.
                                </div>
                            </div>
                            <div class=" login-btm login-button w-100 d-flex justify-content-center">
                                <button type="submit" class="btn btn-outline-primary">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>
</body>
</html>